  <div class="col mb-5">
      {{#each products}}
                        <div class="products p-3 border">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://image.coolblue.nl/840x473/content/500607d0e11d53c62af7184e5f9a4ef9" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h3 class="product">{{title}}</h5>
                                     <h3>{{description}}</p>
                                    
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-bold "> £ {{price}}</span>
                                   
                                </div>
                            </div>
                            
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                    
    
     {{!-- {{#each products}}
    <div class="products bg-secondary p-3 border">
       <img class="card-img-top" src="https://www.monsterinsights.com/wp-content/uploads/2019/11/breathtaking-online-shopping-statistics-you-never-knew.png" alt="..." />
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <ul>
        <li>Price: {{price}}</li>
        <li><a href="" class="btn btn-reverse bg-primary">Buy</a></li> --}}
      </ul>
      
    </div>
    
    {{/each}}